body .content .text-col {
  padding: 3% 10%;
}

body .content .text-col .logo {
  margin: 5% auto;
}

body .content .text-col .img-mobile {
  position: relative;
  left: 0;
  padding-right: 0 !important;
  width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-x: hidden;
}

body .content .text-col .img-mobile .display {
  position: relative;
  right: 80px;
}

body .content .text-col .title {
  margin: 20% auto 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 300;
  background: -webkit-linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .content .text-col .coming-soon {
  margin-bottom: 3%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #413a3a;
}

body .content .text-col p {
  margin-bottom: 6%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  background: -webkit-linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .content .text-col input {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f96262;
  width: 130%;
  color: #ce9797;
}

body .content .text-col input::placeholder {
  color: #ce9797;
}

body .content .text-col .input-btn {
  height: 50px;
  border-radius: 25px;
  width: 100%;
  border: 1px solid #f96262;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

body .content .desktop-img {
  position: relative;
  right: -134px;
  display: block;
}

@media screen and (max-width: 789px) {
  .text-col {
    position: absolute;
    top: 60%;
    padding: 5% 3% !important;
    text-align: center;
  }
  .text-col input {
    width: 100% !important;
    margin-bottom: 3%;
  }
  .img-desktop-col {
    display: none;
  }
}

@media screen and (min-width: 789px) {
  .img-desktop-col {
    display: block;
  }
  .img-mobile {
    display: none;
  }
  .content {
    position: absolute;
    top: 0;
    padding: 1%;
  }
  .content .row .text-col {
    padding: 0 3%;
  }
  .content .row .text-col .img-mobile {
    margin-top: 3%;
  }
}
